
.dataTable {
    float: left;
    margin-bottom: 10px;
  }
  .dataTable div.checker,
  .dataTable div.radio {
    display: inherit;
  }
  .dataTables_wrapper {
    float: left;
    width: 100%;
  }
  .dataTables_length {
    width: 50%;
    float: left;
    padding: 0px 0px 5px;
  }
  .dataTables_length label,
  .dataTables_filter label {
    padding: 0px;
    line-height: 30px;
    height: auto;
    margin: 0px;
    font-size: 12px;
    color: #999999;
    font-weight: 600;
    text-transform: uppercase;
  }
  .dataTables_length select {
    width: 70px;
    display: inline;
    margin: 0px 5px;
    height: 30px;
    border-color: #CED8E3;
    border-radius: 3px;
    padding: 0px 10px;
  }
  .dataTables_filter {
    width: 50%;
    float: right;
    padding-left: 5px;
    padding: 0px 0px 5px;
  }
  .dataTables_filter label {
    float: right;
  }
  .dataTables_filter label input {
    width: 150px;
    display: inline;
    margin-left: 5px;
    height: 30px;
    border: 1px solid #CED8E3;
    border-radius: 3px;
    padding: 0px 10px;
  }
  td.dataTables_empty {
    font-size: 11px;
    text-align: center;
    color: #333;
  }
  .dataTables_info {
    float: left;
    font-size: 12px;
    padding: 0px;
    line-height: 30px;
    padding: 5px 20px;
  }
  .dataTables_paginate {
    padding: 0px;
    text-align: right;
    float: right;
    padding: 5px 0px;
  }
  .dataTables_paginate a.paginate_disabled_previous,
  .dataTables_paginate a.paginate_disabled_next,
  .dataTables_paginate a.paginate_button,
  .paginate_enabled_next,
  .paginate_active,
  .paginate_enabled_previous {
    padding: 5px 10px;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #656D78;
    margin-left: 3px;
    cursor: pointer;
  }
  .dataTables_paginate .paginate_enabled_next:hover,
  .dataTables_paginate a.paginate_button:hover,
  .dataTables_paginate .paginate_enabled_previous:hover {
    background-color: #eee;
    border-color: #ddd;
    color: #222;
  }
  .dataTables_paginate .paginate_button.current,
  .dataTables_paginate .paginate_button.current:hover {
    background: #33414E;
    color: #FFF;
    border-color: #33414E;
  }
  .dataTables_paginate a.paginate_disabled_previous,
  .dataTables_paginate a.paginate_button_disabled,
  .dataTables_paginate a.paginate_disabled_next {
    cursor: default;
    color: #ccc;
  }
  .dataTables_paginate a.paginate_button_disabled:hover {
    box-shadow: none;
    color: #ccc;
  }
  .sorting_desc,
  .sorting_asc,
  .sorting {
    position: relative;
    cursor: pointer;
    padding-right: 20px !important;
  }
  .sorting:before,
  .sorting_desc:before,
  .sorting_asc:before {
    position: absolute;
    top: 18px;
    right: 5px;
    font-family: 'FontAwesome';
    opacity: 0.9;
    filter: alpha(opacity = 90);
    width: 10px;
    height: 10px;
    display: block;
  }
  .sorting:before {
    content: "\f0dc";
    opacity: 0.3;
    filter: alpha(opacity = 30);
  }
  .sorting_desc:before {
    content: "\f0d8";
  }
  .sorting_asc:before {
    content: "\f0d7";
  }
  .sorting_asc_disabled:before,
  .sorting_desc_disabled:before {
    opacity: 0.1;
    filter: alpha(opacity = 10);
  }